SERVER_SALT="xxxxx="
JWT_SECRET="xxx"
SECURITY_ENCRYPTION_KEY="xxx="

NACOS_ADDR=111.111.111.111:8848
NACOS_PORT=8848
NACOS_NAMESPACE=xxx
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_CONTEXT_PATH=/nacos
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security
NACOS_AUTH_TOKEN=xxxx

MYSQL_HOST=111.111.111.111
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD="xxxxx"

REDIS_ADDR=111.111.111.111:6379
REDIS_PASSWORD="xxxxx"

MINIO_HOST=111.111.111.111
MINIO_PORT=9000
MINIO_USERNAME=xxx
MINIO_PASSWORD="xxxxx"

LLM_API_KEY=sk-sp-95f6a7ca251f49f2975801ca53426f61